.dtd-message {
  position: fixed;
  top: 8px;
  left: 50%;
  transform: translate(-50%);
  display: inline-block;
  background: var(--popover_bg_color);
  color: var(--common_white1_color);
  padding: 8px 12px;
  box-shadow: 0 8px 24px 0 rgb(0 0 0 / 16%);
  border-radius: 6px;
  text-align: center;
  z-index: 1010;
}
