.dtd-message {
  display: inline-flex;
  vertical-align: top;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 8px;
  left: 50%;
  transform: translate(-50%);
  color: white;
  padding: 8px 12px;
  box-shadow: 0 8px 24px 0 rgb(0 0 0 / 16%);
  border-radius: 6px;
  text-align: center;
  z-index: 1010;

  &-success {
    svg {
      color: var(--common_green1_color);
    }

    background-color: #45484a;
  }

  &-warning {
    svg {
      color: var(--common_orange1_color);
    }

  }

  &-error {
    svg {
      color: var(--common_red1_color);
    }
  }

  svg {
    width: 1.5em;
    height: 1.5em;
    margin-right: .4em;
  }
}
