.dtd-input {
  box-sizing: border-box;
  margin: 0;
  color: var(--common_level1_base_color, #171a1d);
  font-variant: tabular-nums;
  list-style: none;
  font-feature-settings: "tnum", "tnum";
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 0;
  padding: 4px 11px;
  font-size: 14px;
  line-height: 1.5715;
  background-color: var(--common_fg_z1_color, #fff);
  background-image: none;
  border: 1px solid var(--common_line_light_color, rgba(126, 134, 142, .16));
  border-radius: 4px;
  transition: all .3s;

  &:hover {
    border-color: var(--theme_primary2_color, rgba(0, 137, 255, .48));
    border-right-width: 1px !important;
  }

  &:focus {
    border-color: var(--theme_primary1_color, #0089ff);
    box-shadow: none;
    outline: none;
  }

  &-wrapper {
    display: inline-flex;
  }

  &-prefix,
  &-suffix {
    padding: 0 11px;
    border: 1px solid var(--common_line_light_color, rgba(126, 134, 142, .16));
    border-radius: 4px;

    &-inner {
      display: flex;
      align-items: center;
      height: 100%;
    }
  }

  &-prefix {
    border-right: none;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;

    &-wrapper {
      border-top-left-radius: 0%;
      border-bottom-left-radius: 0%;
    }
  }

  &-suffix {
    border-left: none;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;

    &-wrapper {
      border-top-right-radius: 0%;
      border-bottom-right-radius: 0%;
    }
  }
}
