.dtd-user-tree {
  &-node-list {
    max-height: 50vh;
    overflow: auto;
    display: flex;
    flex-direction: column;

    >li {
      list-style: none;
      cursor: pointer;
      padding: 14px;
      display: flex;
      border-radius: 8px;
      align-items: center;

      &:hover {
        background-color: #eff0f1;
      }
    }

    &-breadcrumb {
      display: flex;
      flex-wrap: wrap;
      margin: 4px 0;

      >li {
        display: flex;
        align-items: center;


        &:last-child .dtd-user-tree-node-list-breadcrumb-title {
          color: var(--common_level1_base_color, #171a1d);
        }

        &:first-child .dtd-user-tree-node-list-breadcrumb-title {
          color: var(--common_level1_base_color, #171a1d);
        }
      }

      &-title {
        padding: 4px 8px;
        border-radius: 4px;
        white-space: nowrap;

        &:hover {
          background-color: #eff0f2;
        }
      }

      &-separator {
        width: 1em;
        height: 1em;
      }
    }

    &-empty {
      min-height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        cursor: default;
        background-color: white !important;
      }
    }

    &-item {
      &-name {
        display: inline-block;
        width: 36px;
        height: 36px;
        background-color: #0089ff;
        border-radius: 4px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: white;
      }

      &-img {
        width: 36px;
        height: 36px;
      }
    }
  }

  &-node {
    width: 100%;
    margin-left: 4px;
    margin-right: auto;
    display: flex;
    align-items: center;

    &-name {
      margin-left: 4px;
      color: var(--common_level1_base_color, #171a1d);
    }

    &-next {
      border-left: 1px solid var(--common_line_light_color, rgba(126, 134, 142, 0.16));
      display: flex;
      align-items: center;
      padding: 0 8px;
      white-space: nowrap;
      color: var(--common_link_color, rgba(49, 126, 208, 1));

      &-icon {
        font-size: 1em;
      }
    }
  }
}
