.dtd-popover {
  display: inline-block;
  vertical-align: top;
  position: relative;

  &-content {
    &-wrapper {
      position: absolute;
      bottom: 100%;
      left: 0;
      width: 100%;
      border: 1px solid red;
    }
  }
}
