.page-one {
  height: 100vh;
  background-image: url(https://gw.alicdn.com/imgextra/i3/O1CN01X3jpfh1XbTy3KON4i_!!6000000002942-2-tps-3072-1728.png);
  background-size: cover;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  a {
    color: white;
  }
}
